td{
    padding-left: 20px;
}
select{
    text-align: center;
}
h1{
    text-align: center;
    font-family: Gigi;
    color: orangered;
}
#format_all{
    display: flex;
    padding-left: 20px;
}

.format_img {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    width: 150px;
    height: 200px;
}

.format_div {
    height: 300px;
    text-align: center;
    border-style: double;
    margin: 20px;
    background-image: url("nhung-hinh-anh-tien-hiep-tuyet-dep_031025117.jpg");
    border-radius: 20px;
}

.ten_truyen {
    font-family: "Droid Sans Mono";
    font-size: 15px;

}
a{
    text-decoration: blue;
    color: darkblue;
    background-color: green;
    padding: 5px;
}

body{
    background-image: url("Tien-Hiep-The-Gioi-2-Beta-4.png");
}


#login{
    position: relative;
    float: right;
    margin: 20px;

}